body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px;
    color: white; /* цвет текста */
}

.color1 {
    background-color: #ff0000; /* цвет фона для Пункта 1 */
}

.color2 {
    background-color: #00ff00; /* цвет фона для Пункта 2 */
}

.color3 {
    background-color: #0000ff; /* цвет фона для Пункта 3 */
}
